@import "tools";
@import "fuentes";
@import "variables";
@import "main";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #ededee;
}
/*--- Página: INDEX ---*/
/*Nav Bootstrap*/
.myNav{
    background: rgba(5, 32, 13, 0.568);
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    .navbar-brand{
        font-size: 2rem;
    }
}
.navbar-nav li a{
    color: #fff;
    font-size: 1.3rem;
    &:hover{
        color: $colorVerde !important;
    }
}
.nav-link {
    color: #fff !important;
        &.active{
            color: rgb(0, 243, 211) !important;
        }
}
/* header index */
.header{
    height: 60vh;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    .wave{
        position: absolute;
        width: 100%;
        bottom: -3%;
    }
}
.headerIndex{
    background-image: linear-gradient(to right, #30fb4428, #003f503a), url(../multimedia/prueba5.jpg);
}
/* Background Banner 
.header_content.background_index{
    @include fondosImagen ('../multimedia/prueba5.jpg'); /*usando MIXIN
}*/

.secBienvenida{
    background-color: #EDEDEE;
    font-family: poppins;
    .texto_sec1{
        color: #929090;
        width: 80%;
        margin: auto;
        text-align: center;
        letter-spacing: 0.2rem;
        line-height: 2rem;
        font-weight: 300;
    }
    h1{
        color: #58f6bc;
        letter-spacing: 0.1rem;
        font-weight: 600;
    }
    h2{
        color: rgb(255, 157, 29);
        letter-spacing: 0.1rem;
        font-weight: 400;
    }
    h3{
        color: #1beccd;
        letter-spacing: 0.1rem;
        font-weight: 400;
    }
    .iconTecnicas{
        width: 30%;
    }
}
.bgWhite{
    background-color: #fff;
    margin-top: -40px;
}
.imgBienvenida{
    height:30vh;
    background-image: url("../multimedia/prueba444.jpg");
    background-attachment: fixed;
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
}
.galeriaInicio{
    background-image: url(../multimedia/bgHojasWhite3.svg);
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    width: 80%;
    .carousel{
        width: 80%;
        margin: auto;
        img{
            border-radius: 2rem;
            background-color: transparent;
        }
    }    
}
.beneficios{
    h5{
        font-size: 1.1rem;
    }
    span{
        color: $colorTurquesa;
        font-size: 1.7rem;
        padding-right: 15px;
    }
}

/*---------------------*/
/*--- Página: About ---*/
/*---------------------*/

/* Background Banner About*/
.headerAbout{
    background-image: linear-gradient(to right, #30fb4428, #003f503a), url(../multimedia/prueba7.jpg);
} 

/* @include fondosImagen ('../multimedia/prueba7.jpg'); *//*usando MIXIN*/    

.secAbout{
    .texto_sec1{
        color: #929090;
        width: 80%;
        margin: auto;
        text-align: center;
        letter-spacing: 0.2rem;
        line-height: 2rem;
        font-weight: 300;
    }
}
.texto_sec1.p_about{
    @include fontAndColor; /*usando MIXIN*/
    font-weight: map-get($font-weights, light); /*GET MAP*/
    line-height: 25px;
    letter-spacing: 1px;
    padding: 15px 5px;
}
.galeriaAbout{
    width: 60%;
    img{
        max-height: 500px;
        object-fit: contain;
    }
    
}
/*--- Página: CLASES ---*/
.headerClases{
    background-image: linear-gradient(to right, #30fb4428, #003f503a), url(../multimedia/prueba9.jpg);

}
.contentClases{
    width: 90%;
    background: $colorBlanco;
    color: #B7B7B7;
    letter-spacing: 1.1px;
    line-height: 1.9rem;
    font-size: 1rem;
    font-weight: map-get($font-weights, light); /*GET MAP*/
    border-radius: 2rem;
    @media all and (min-width: $point-md){
        font-size: 1.1rem;
    }
    @media all and (min-width: $point-lg){
        font-size: 1.2rem;
    }
    .iconClases{
        max-width: 7rem;
        margin-top: -75px;
    }
    .titClases1{
        font-size: 1.4rem;
        color: $colorTurquesa;
        transition: all ease-in-out 0.2s;
        @media all and (min-width: $point-md){
            font-size: 1.8rem;
        }
        @media all and (min-width: $point-lg){
            font-size: 2rem;
        }
        &:hover{
            color: $colorNaranja;
            font-weight: map-get($font-weights, regular); /*GET MAP*/ 
            font-size: 1.5rem;
            box-shadow:  0 .1em rgba(255, 255, 255, 0.562);
        }
    }
    .btnClases{
        text-decoration: none;
        color: #fff;
        font-weight: map-get($font-weights, light); /*GET MAP*/
        background-color: $colorAqua;
        border-radius: 5px;
        padding: 2px 10px;
        margin: 1rem 0;
        padding: 0 1rem;
        transition: all ease-in-out 0.2s;
        &:hover{
            transform: scale(1.05);
            color: $colorTurquesa;
            font-weight: map-get($font-weights, medium); /*GET MAP*/
            text-transform: uppercase;
            background: $colorBlanco;
        }
    }
}
.contentTiposClases{
    width: 100%;
}

.imgClasesBg{
    height:30vh;
    background-image: url("../multimedia/prueba9.jpg");
    background-attachment: fixed;
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
}
.hataYoga, .pilates {
    background: #38645aa6;
    color: #ffff;
}
.ashtangaYoga{
    background: $colorBlanco;
    margin-top: 1.5rem;
    transition: all ease-in-out 0.2s;
    &:hover{
        background: #58f6bca2;
        color: $colorBlanco;
    }
}
.reiki{
    background: $colorBlanco;
    margin-top: 1.5rem;
    transition: all ease-in-out 0.2s;
    &:hover{
        background: #58f6bca2;
        color: $colorBlanco;
    }
}

@media all and (min-width: $point-lg){
    .lgEstilos{
        background: #ffff;
        color: #B7B7B7;
        
    }
    .lgEstilos:hover{
        background: #58f6bca2;
        color: #fff;
    }
}
/* clasesYoutube */
.clasesYoutube{
    text-align: center;
    padding: 20px;
    p{
        padding: 10px;
        color: #2e8d7f;
        font-weight: map-get($font-weights, medium); /*GET MAP*/
    }
}
/*---------------------------*/
/*--- Página: contacto ---*/
/*---------------------------*/

.headerContacto{
    background-image: linear-gradient(to right, #30fb4428, #003f503a), url(../multimedia/prueba444.jpg);
    /*@media all and (max-width:800px) {
        .wave{
            margin-bottom: 35px;
        }
    }
    @media all and (min-width:800px) {
        .wave{
            margin-bottom: 10px;
        }
    }*/
}

.sectionForm{
    width: 100%;
    position: relative;    
    &::before{
        content: "";
        background: url(../assets/ContactoSucu.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        opacity: 0.1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
}
/* Formulario */
.contentForm{
    /*.myForm{
        min-width: 300px;
        max-width: 600px;
    }*/
    form{
        background: rgba(0,0,0,.7);
            .formLabel{
                color: rgb(0, 228, 152);
                font-weight: 400;
                letter-spacing: 1px;
            }
        .formInput{
            background: #fff;
            border: none;
            outline: none;
            border-bottom: 3px solid rgb(0, 228, 152);
            padding:12px;
            border-radius: 2px;
            font-size: 14px;
            color: $colorNaranja;
            font-size: 1rem;
        }
        .btnSubmit{
            width: 100%;
            font-size: 16px;
            border: none;
            background: rgb(0, 228, 152);
            color: #fff;
            padding: 15px 0;
            &:hover{
                background:rgb(255, 157, 29); 
                transition: all .5s ease;
            }
        }    
    }
}
.secSeparador{
    height: 20vh;
}
.map{
    filter: grayscale(75%);
}
/*--------------*/
/*--- Footer ---*/
/*--------------*/
footer {
    background-color: rgba(0, 0, 0, 0.356);
    background-image: linear-gradient(to top, #00343b 0%, #00fa9a9c 100%);
    
    /*background-image: linear-gradient(to top, #21b77bb4 0%, #134268c2 100%);*/
    /*background-image: linear-gradient(to top, #00fa9a9c 0%, #00343b 100%);*/
    /*background-image: linear-gradient(to top, #00FA9A 0%, #004953 100%);*/
    /*background-image: linear-gradient(to top, #00F260 0%, #0575E6 100%);*/
    .mylogo{
        width: 10rem;
        @media all and (min-width: 1200px){
            width: 13rem;
        }
    }
    .redes{
        list-style: none;
        img{
            width: 2rem;
            color: #fff;
            @media all and (min-width: 1200px){
                width: 2.5rem;
                margin-top: 15px;
                margin: 5px;
            }
        }
    }
    .formLabel{
        color: rgb(255, 157, 29);
        font-weight: 400;
        letter-spacing: 1px;
    }
    .btnSubmit{
        width: 100%;
        font-size: 16px;
        border: none;
        background: rgb(255, 157, 29);
        color: #fff;
        padding: 15px 0;
        &:hover{
            background:rgb(0, 228, 152); 
            transition: all .5s ease;
        }
    } 
    .navFooter{
        font-size: 1.2rem !important;
        padding: 1px !important;
    }
    .span{
        font-size: 1.3rem;
        padding: 5px;
    }
    .firma{
        color: #54f1b8;
        
    }  
}
/*----------*/
/*BORRAR!!*/
.footer-contenedor{
   /* margin: auto;*/
    height: 10vh;
    width: 100%;
    background-color:#1beccd;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    .seguinos{
        color: #fff;
        font-size: 1.1rem;
    }
    .menu_footer{
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        font-weight: 300;
        padding: 5px;
        line-height: 30px;
        &:hover{
            color: rgb(1, 199, 123);
        }
    }
    .btnSubmit{
            width: 100%;
            font-size: 16px;
            border: none;
            background: rgb(0, 228, 152);
            color: #fff;
            padding: 15px 0;
            &:hover{
                background:rgb(255, 157, 29); 
                transition: all .5s ease;
            }
        }    
}
/*--------HASTA ACÁ---------*/
.textContact{
    h4{
        color: rgb(139, 139, 139); /*#23caaf*/
        font-size: 1.4rem;
        font-weight: 500;
        padding-bottom: 10px;
    }
    &span{
        font-size: 1.5rem;
    }
}
.nav-footer ul{
    display: flex;
    flex-flow: row wrap;
}
.nav-footer li{
    list-style: none;
}

/* Animaciones */
.scale:hover{
    transform: scale(1.1);
}
/*Tercera animación Menu Hover*/
.menu_navigation:hover{
    cursor: pointer ;
    color: rgb(1, 199, 123);
    border-bottom: solid 2px rgb(1, 199, 123);
    width: 30%;
    font-weight: 300;
}
/* wow animación*/
.animate__animated.animate__slideInLeft {
    --animate-duration: 1s;
}

/*----------------------*/
/*--- Página: Tienda ---*/
/*----------------------*/
.carousel.slide{
    overflow: hidden;    
}
.mycard{
    background-color: #EDEDEE;
    border: none;
    width: 23rem;
    .myimg{
        border-top-left-radius: calc(3.25rem - 1px);
        object-fit: contain;
        margin: 0;
        padding: 0;
        --bs-gutter-x: 0;
    }
    .myBtn{
        background-color: $colorVerde;
        border: transparent;
        border-radius: 0.75rem;
        padding: 0.5rem 2rem;
        font-weight: 600;
        font-size: 1rem;
    }
}
.mymodal{
    background: rgba(13, 61, 51, 0.8);
    color: #fff;
    font-size: 1.2rem;
    span{
        color: #00e676;
        font-weight: 700;
    }
}
.paragraph{
    padding-top: 1rem;
    font-size: 1rem;
    color: #2e8d7f;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.paragraph2{
    font-size: 0.9rem;
    margin-top: 2px;
}
/* Cards con ProdUctos de Tienda */
.card-body{
    p{
        color: #2e8d7f;

    }
}
.card-transform{
    transition: all ease-in-out 0.2s;
    &:hover{
        transform: scale(1.05);
    }
    
}

/*Clases Bootstrap*/
.bg-videoClases{
    z-index: 1;
    height: 30vh;
}
.navbarClases{
    z-index: 2;
}
.section_Clases{
    height: 31vh;
    box-sizing: border-box;
}
.section_Contacto{
    height: 30vh;
    box-sizing: border-box;
}


