@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
/*--- Página: INDEX ---*/
/*Nav Bootstrap*/
.myNav{
    background: rgba(5, 32, 13, 0.568);
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
}
.navbar-nav li a{
    color: #fff;
    font-size: 1.3rem;
}
.navbar-nav li a:hover{
    color: rgb(0, 228, 152);
}
.navbar-brand{
    color: #fff;
    font-size: 2rem;
}
.navbar-brand:hover{
    color: rgb(0, 228, 152);
}

.nav-link.active{
    color:rgb(0, 243, 211) ;
}
/* header index */
.header_content{
    height: 60vh;
    position: relative;
    flex-flow: row wrap;
    display: flex;
    width: 100%;
}
.fraseBanner{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%;
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 30px;
}
.fraseBanner1{
    margin-top: 50px;
}
.fraseBanner2{
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 1px;
}
/* Background Banner */
.header_content.background_index{
    background-image: linear-gradient(to right, #0d7a1855, #00273159), url(../multimedia/prueba5.jpg);
    background-position: center;
    background-size: cover;
}

/*wave*/
.header_content .wave{
    position: absolute;
    width: 100%;
    bottom: -3%;
}
.section{
    height: 50vh;
}
.texto_sec1{
    color: #929090;
    width: 80%;
    margin: auto;
    text-align: center;
    letter-spacing: 0.2rem;
    line-height: 2rem;
    font-weight: 300;
}
.secBienvenida{
    background-color: #EDEDEE;
    font-family: poppins;
}
.secBienvenida h1{
    color: #58f6bc;
    letter-spacing: 0.1rem;
    font-weight: 800;
}
.secBienvenida h2{
    color: rgb(255, 157, 29);
    letter-spacing: 0.1rem;
    font-weight: 400;
}
.secBienvenida h3{
    color: #1beccd;
    letter-spacing: 0.1rem;
    font-weight: 400;
}
.secContenido{
    height: 80vh;
    background-color: #fff;
}
.imgBienvenida{
    height:30vh;
    background-image: url("../multimedia/prueba444.jpg");
    background-attachment: fixed;
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
}
.iconTecnicas{
    width: 30%;
}
/*--- Página: About ---*/
/* Background banner */
.header_content.background_index.background_index-about{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(to right, #30fb4428, #003f503a), url(../multimedia/prueba7.jpg);
    background-position: center;
    background-size: cover;
}
.section.section_about{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor_about{
    width: 70%;
    display: flex;
}
.text_about{
    width: 50%;
    background-color: #daa403b9;
    padding: auto 0;
}
.texto_sec1.p_about{
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 1px;
    padding: 15px 5px;
}
/*--- Página: CLASES ---*/
/* Video background */
.bg-video{
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background: rgb(0, 0, 0);
    background-position: center;
    background-size: contain;
    object-fit: cover; /*pantalla completa*/
}
.bg-video{
    filter: opacity(75%) drop-shadow(0px 0px 1px rgba(0,0,0,.7));
}
/* clasesYoutube */
.clasesYoutube{
    text-align: center;
    padding: 20px;
}
.clasesYoutube p{
    padding: 10px;
    color: #2e8d7f;
    font-weight: 500;
}
.contentClases{
    width: 90%;
    background: #fff;
    color: #B7B7B7;
    letter-spacing: 1.1px;
    line-height: 1.9rem;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 2rem;
}
.contentTiposClases{
    background:#ededee ;
    width: 100%;
}
.titClases1{
    font-size: 1.4rem;
    color: #58F6BC;
    transition: all ease-in-out 0.2s;
}
.titClases1:hover{
    color: rgb(255, 157, 29);
    font-weight: 400;
    font-size: 1.5rem;
    box-shadow:  0 .1em rgba(255, 255, 255, 0.562);
}
@media all and (min-width:768px){
    .titClases1{
        font-size: 1.8rem;
    }
    .contentClases{
        font-size: 1.1rem;
    }
}
@media all and (min-width:986px){
    .titClases1{
        font-size: 2rem;
    }
    .contentClases{
        font-size: 1.2rem;
    }
}
.imgClasesBg{
    height:30vh;
    background-image: url("../multimedia/prueba9.jpg");
    background-attachment: fixed;
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
}
.iconClases{
    max-width: 7rem;
    margin-top: -75px;
}
.btnClases{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    background-color:#58f6bca2;
    border-radius: 5px;
    padding: 2px 10px;
    margin: 1rem 0;
    padding: 0 1rem;
    transition: all ease-in-out 0.2s;
}
.btnClases:hover{
    transform: scale(1.05);
    color: #58F6BC;
    font-weight: 500;
    text-transform: uppercase;
    background: white;
}
.hataYoga, .pilates {
    background: #38645aa6;
    color: #ffff;
}
.ashtangaYoga, .reiki{
    background: #ffff;
    margin-top: 1.5rem;
    transition: all ease-in-out 0.2s;
}
.ashtangaYoga:hover, .reiki:hover{
    background: #58f6bca2;
    color: #fff;
}
/*--- Página: CONTACTO ---*/
.secContacto1{
    background: #ededee;
    height: 30vh;
}
.bgContacto{
    background: #ededee;
}
.secContacto{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: end;
    /*background: url(../carrousel/carrousel9.jpg);*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Formulario*/
.contenedorForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding-top: 30px;
    width: 100%;
    margin-bottom: 20px;
}
.contenedorForm .form{
    background: rgba(0,0,0,.7);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    padding-bottom:30px ;
    border-radius: 3px;
    margin-bottom: 20px;
}
.contenedorForm .form .formTitle{
    font-weight: normal;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
    padding: 14px 0;
}
.contenedorForm .form .formLabel{
    display: block; /*se ordenan uno debajo del otro */
    color: rgb(0, 228, 152);
    font-size: 16px;
}
.contenedorForm .form .formInput, .formTextArea{
    background: rgba(251, 251, 251, 0.2);
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(0, 228, 152);
    width: 100%;
    padding:12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;    
}
.contenedorForm .form .formTextArea{
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}
.contenedorForm .form .btnSubmit{
    width: 100%;
    outline: none;
    font-size: 16px;
    border: none;
    background: rgb(0, 228, 152);
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
}
.contenedorForm .form .btnSubmit:hover{
    background:rgb(255, 157, 29) ; /*rgb(250, 23, 110)*//*rgb(255, 157, 29)*/
    transition: all .5s ease;
}
.map{
    filter: grayscale(75%);
    /*filter: saturate(50%);
    filter: invert(100%);*/
}
/*--- Footer ---*/
.footer-contenedor{
   /* margin: auto;*/
    height: 10vh;
    width: 100%;
    background-color:#1beccd;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.textContact{
    color: #2e8d7f;
    font-size: 2.5 rem;
    font-weight: 100;
}
.textContact span{
    font-size: 2 rem;
}
.seguinos{
    color: #fff;
    font-size: 1.1rem;
}
.nav-footer ul{
    display: flex;
    flex-flow: row wrap;
}
.nav-footer li{
    list-style: none;
}
.menu_footer{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding: 5px;
    line-height: 30px;
}
.menu_footer:hover{
    color: rgb(1, 199, 123);
}
/* Responsive Media queries */
/*A partir de 768px en adelante*/
@media all and (max-width:768px){
    .header{
        height: 250px;
        background-color:#05292283 ;
        position: relative;
        overflow: hidden;
    }
    .logo{
        width: 100%;
        text-align: center;
    }
    .titulo{
        justify-content: flex-end;
        padding-bottom: 45%;
        font-size: 1rem;
    }
    .titulo .linea2{
        font-size: 0.9rem;
    }
    .header_content{
        height: 50vh;
    }
    .section3_grid{
        width: 90%;
        margin: auto;
        height: 120vh;
    }
    .contenedorGrid_galeria{
    grid-template-areas: 
    "img1 img1 img1 img1 "
    "contenido1 contenido1 contenido1 contenido1"
    "img2 img2 img2 img2"
    "contenido2 contenido2 contenido2 contenido2"
    "img3 img3 img3 img3"
    "contenido3 contenido3 contenido3 contenido3";
    }
   .section.section_about {
       width: 80%;
       margin: auto;
    background: linear-gradient(to right, #5e4606ad, #02242c85), url(../multimedia/img_about.jpg);
    background-size: cover;
    background-position: center;
    }
   .text_about{
        width: 100%;
        background-color: rgba(27, 15, 3, 0.192);
   }
   .text_about .texto_sec1.p_about{
       font-size: 0.8rem;
   }
}
@media all and (min-width:768px) and (max-width:986px){
    .section.section_about{
        height: 110vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .text_about{
        width: 70%;
        margin: auto;
    }
    .text_about .texto_sec1.p_about{
        font-size: 0.9rem;
    }
}
/* Animaciones */
/* Primera Animación Cambio de escala en Galería Grid */
.section3_grid .contenedorGrid_galeria .uno, .dos, .tres{
    transition: all 200ms ease-in-out;
}
.scale:hover{
    transform: scale(1.1);
}
/*Tercera animación Menu Hover*/
.menu_navigation:hover{
    cursor: pointer ;
    color: rgb(1, 199, 123);
    border-bottom: solid 2px rgb(1, 199, 123);
    width: 30%;
    font-weight: 300;
}
/* wow animación*/
.animate__animated.animate__slideInLeft {
    --animate-duration: 1s;
}
/*Bootstrap*/
/*Items Nav*/
.navbar-light .navbar-nav .nav-link.active {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
/*Boton hamburguesa*/
.navbar-light .navbar-toggler {
    border-color: #fff;
}
.navbar-toggler-icon{
    color: #fff;
}
.navbar-toggler{
    color: #fff;
}
.logo a{
    color: #fff;
    text-decoration: none;
}
/*--- Página: Tienda ---*/
/* header tienda */
.header_content.background_index.background_index-tienda{
    height: 50vh;
    background-image: linear-gradient(to right, #30fb4428, #003f503a), url(../multimedia/bk_tienda2.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
/*Carrousel*/
.carousel.slide{
  /*  height: 80vh;*/
    overflow: hidden;
    background: rgb(0, 228, 152);
    max-height: 900px;
}
.paragraph{
    padding-top: 1rem;
    font-size: 1rem;
    color: #2e8d7f;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.paragraph2{
    font-size: 0.9rem;
    margin-top: 2px;
}
/* Cards con ProdUctos de Tienda */
.card-transform{
    transition: all ease-in-out 0.2s;
}
.card-transform:hover{
    transform: scale(1.05);
}
/*Clases Bootstrap*/
.bg-videoClases{
    z-index: 1;
    height: 30vh;
}
.navbarClases{
    z-index: 2;
}
.section_Clases{
    height: 31vh;
    box-sizing: border-box;
}
/*
.section_Clases::before{
    content: ' " El yoga es un camino hacia la libertad "';
    z-index: 10;
    color: #fff;  
    font-size: 1.1rem;
    padding-top: 1.5em;
}
*/
.section_Contacto{
    height: 30vh;
    box-sizing: border-box;
}
.section_Contacto::before{
    content: ' ';
    z-index: 10;
    color: #fff;  
    font-size: 1.1rem;
    padding-top: 1.5em;
}
@media all and (min-width:768px){
    .section_Clases::before{
        font-size: 1.3rem;
        padding-top: 1.5em;
    }
}
@media all and (min-width:986px){
    .section_Clases::before{
        font-size: 1.5rem;
        padding-top: 1.5em;

    }
}
@media all and (min-width: 992px){
    .lgEstilos{
        background: #ffff;
        color: #B7B7B7;
        
    }
    .lgEstilos:hover{
        background: #58f6bca2;
        color: #fff;
    }
}

