$point-md: 768px;
$point-lg: 992px;
$point-xxl: 1400px;

$colorNaranja: rgb(255, 157, 29);
$colorAqua: #58f6bca2;
$colorTurquesa: #58F6BC;
$colorVerde: rgb(0, 228, 152);
$bg-translucido: #b8df6a33;
$colorBlanco: #fff;

$font-light: 300;
$font-normal: 400;

$font-weights: (
    thin: 100,
    extraLight: 200,
    light: 300,
    regular:400,
    medium: 500,
    bold: 700,
    extraBold:900
);